button,
.btn {
  background-color: $brand-one;
  text-decoration: none;
  border: 0;
  color: $brand-dark;
  padding: $base-margin - 5px $base-margin;
  display: inline-block;
  border: 2px solid transparent;

  // Transition
  transition: background-color, color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &:active,
  &:focus,
  &:hover {
    color: $brand-dark;
    background-color: $brand-two;
    text-decoration: none;
  }
  &:focus {
    outline: none;
    border-color: $brand-one;
  }
}
button {
  transition: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
button[data-toggle="on"] {
  opacity: 0.4;
}

//------------------------------------------------------//
// Progress bar
//------------------------------------------------------//
progress {
  appearance: none;
  height: 20px;
  width: 100%;
}
progress[value]::-webkit-progress-bar {
  background-color: $brand-light;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  transition: width;
  transition-duration: 600ms;
  transition-timing-function: ease;

  // background-image: -webkit-linear-gradient(
  //     -45deg,
  //     transparent 33%,
  //     rgba(0, 0, 0, 0.1) 33%,
  //     rgba(0, 0, 0, 0.1) 66%,
  //     transparent 66%
  //   ),
  //   -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
  //   -webkit-linear-gradient(left, #09c, #f44);

  background-color: $brand-one;

  // border-radius: 2px;
  // background-size: 35px 20px, 100% 100%, 100% 100%;
}
//------------------------------------------------------//
// END Progress bar
//------------------------------------------------------//
