* {
  box-sizing: border-box;
  touch-action: manipulation;
}
//------------------------------------------------------//
// CSS reset
//------------------------------------------------------//
body {
  margin: 0;
}
.alloy-no-scroll {
  overflow: hidden;
}
//------------------------------------------------------//
// END CSS reset
//------------------------------------------------------//
body {
  position: relative;
  background: -webkit-linear-gradient(top, #005893 0%, #005893 20%, #72f2ff 100%);
  background: linear-gradient(to bottom, #005893 0%, #005893 20%, #72f2ff 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.alloy-body-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: $brand-gradient-from; /* fallback for old browsers */
  background: -webkit-linear-gradient(top, $brand-gradient-from 0%, $brand-gradient-to 100%);
  background: linear-gradient(to bottom, $brand-gradient-from 0%, $brand-gradient-to 100%);
  transition: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.alloy-page {
  // padding-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  z-index: 1000;

  .alloy-background-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.1;
    pointer-events: none;
    z-index: -1;
  }
  > .inner {
    // position: relative;
    width: 90vmin;
    color: $brand-light;
  }
  h1 {
    font-size: 1.2em;
  }
  .logo {
    margin: 0 auto;
    margin-bottom: $base-margin * 4;
    @include media-breakpoint-down(md) {
      max-width: 200px;
    }

    img {
      width: 100%;
    }
  }
}
@include media-breakpoint-up(sm) {
  .alloy-page {
    .inner {
      position: relative;
    }
  }
}

//------------------------------------------------------//
// Pages
//------------------------------------------------------//
.alloy-page {
  .alloy-featured-image {
    height: 30vmin;
    img {
      // max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .alloy-content {
    background-color: rgba($brand-dark, $base-alpha/2);
    padding: $base-margin * 2;
  }
}
// Desertec page
.alloy-page--desertec {
  .alloy-featured-image {
    img {
      object-position: top;
    }
  }
}
//------------------------------------------------------//
// END Pages
//------------------------------------------------------//
.component-Navigation {
  position: relative;
  max-width: 90vmin;
  margin: 0 auto;
  // z-index: 9000;
  width: 100%;
  opacity: 0.4;
  transition: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;

  text-align: right;
  position: relative;
  z-index: 4000;
  &:hover {
    opacity: 1;
  }
  a {
    text-transform: lowercase;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0 $base-margin / 3;
    color: $brand-light;

    &.nuxt-link-exact-active {
      color: $brand-one;
    }
  }
  a,
  .share-buttons {
    vertical-align: middle;
  }
}

.share-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;

  li {
    display: inline;
  }
  a {
    padding: 0 2px;
  }
  img {
    width: 15px;
    height: auto;
  }
}
