* {
  box-sizing: border-box;
}
//------------------------------------------------------//
// CSS reset
//------------------------------------------------------//
body {
  margin: 0;
}
//------------------------------------------------------//
// END CSS reset
//------------------------------------------------------//
body {
  background: $brand-gradient-from; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    top,
    $brand-gradient-from 0%,
    $brand-gradient-to 100%
  );
  background: linear-gradient(
    to bottom,
    $brand-gradient-from 0%,
    $brand-gradient-to 100%
  );
}

//------------------------------------------------------//
// Page transtions
//------------------------------------------------------//
/* .page-leave-active,
.page-enter-active {
  transition: transform, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease-in;
  overflow: hidden;
}
.page-leave-active {
  transition-timing-function: ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: scale(4);
}
.page-leave,
.page-enter-active {
  opacity: 1;
  transform: scale(0);
} */

.page-enter-active {
  animation: acrossIn 0.4s ease-out both;
  overflow: hidden;
}
.page-leave-active {
  animation: acrossOut 0.6s ease-in both;
  overflow: hidden;
}
@keyframes acrossIn {
  0% {
    transform: scale(0);
    /* transform: translate3d(-100%, 0, 0); */
  }
  100% {
    transform: scale(1);
    /* transform: translate3d(0, 0, 0); */
  }
}
@keyframes acrossOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
//-----------------------------------------------------//
// END Page transtions
//------------------------------------------------------//
.alloy-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;

  .inner {
    // position: relative;
    width: 90vmin;
    color: $brand-light;
  }
  h1 {
    font-size: 1.2em;
  }
  .logo {
    margin-bottom: $base-margin * 4;
  }
}
@include media-breakpoint-up(sm) {
  .alloy-page {
    .inner {
      position: relative;
    }
  }
}
//------------------------------------------------------//
// 📱 UI elements
//------------------------------------------------------//
.alloy-ui {
  position: absolute;
  z-index: 100;

  button {
    font-size: 30px;
    line-height: 1em;
    font-weight: 900;
  }
  h3,
  .alloy-amount {
    font-size: 1rem;
    font-weight: 800;
  }
}
@include media-breakpoint-up(sm) {
  .alloy-ui {
    h3,
    .alloy-amount {
      margin-bottom: 0;
      font-size: 1.6rem;
    }
  }
}
//------------------------------------------------------//
// //////////////////////////____________ Progress bars
//------------------------------------------------------//
.component-Progress {
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  > * {
    flex-grow: 1;
    width: 50%;
    padding: $base-margin;
  }
  .alloy-progressbar {
    position: relative;
    label {
      position: absolute;
      font-size: 0.6rem;
      left: 10px;
      top: 5px;
      text-shadow: 1px 1px 2px rgba($brand-dark, $base-alpha/2);
    }
  }
}
@include media-breakpoint-up(sm) {
  .component-Progress {
    display: block;
    max-width: 300px;
    left: -15%;

    > * {
      flex-grow: auto;
      width: 100%;
      padding: $base-margin;
    }
    .alloy-progressbar {
      // position: relative;
      label {
        position: relative;
        font-size: 1rem;
        display: block;
        // margin-bottom: $base-margin/3;
        left: auto;
        top: auto;
        text-shadow: 0;
      }
    }
  }
}
//------------------------------------------------------//
// END //////////////////////____________ Progress bars
//------------------------------------------------------//

//------------------------------------------------------//
// 🌬 & ☀️ Renewable ⚡️ Energy
//------------------------------------------------------//
.component-RenewableEnergy {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;

  > * {
    flex-grow: 1;
    // padding: $base-margin;
  }
  .alloy-amount {
    background-color: rgba($brand-light, 0.3);
    padding: $base-margin;
    line-height: 1em;
    margin-bottom: 4px;
  }
  .alloy-counter {
    display: flex;
    > * {
      flex-grow: 1;
      &:last-of-type {
        margin-left: 4px;
        flex-grow: 2;
      }
    }
  }
  .alloy-solarPanels {
    margin-left: 4px;
  }
}
@include media-breakpoint-up(sm) {
  .component-RenewableEnergy {
    max-width: 300px;
    transform: translateY(-50%);
    top: 50%;
    right: -15%;
    left: auto;
    bottom: auto;
    display: block;

    > * {
      flex-grow: 1;
      // padding: $base-margin;
    }

    .alloy-counter {
      display: block;

      > * {
        display: block;
        flex-grow: auto;
        border-radius: 50%;

        &:last-of-type {
          margin-left: 4px;
          flex-grow: auto;
        }
      }
    }
    .alloy-solarPanels {
      margin-left: 4px;
    }
  }
}
//------------------------------------------------------//
// END 🌬 & ☀️ Renewable ⚡️ Energy
//------------------------------------------------------//

//------------------------------------------------------//
// 🏭 Power plants
//------------------------------------------------------//
.component-PowerCategory {
  top: 50%;
  transform: translateY(-50%) translateX(25%);
  right: 0;

  button {
    display: block !important;
    text-align: right;
  }
}
@include media-breakpoint-up(sm) {
  .component-PowerCategory {
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    transform: translateX(-50%) translateY(0);

    button {
      display: inline-block !important;
      // text-align: right;
      margin: $base-margin/3;
    }
  }
}
//------------------------------------------------------//
// END 🏭 Power plants
//------------------------------------------------------//
.component-Map {
  transform: scale(1.8);
}
@include media-breakpoint-up(sm) {
  .component-Map {
    transform: scale(1);
  }
}
//------------------------------------------------------//
// END 📱 UI elements
//------------------------------------------------------//
